/*GLOBAL STYLES
---------------------------------------------------------*/

* {
  font-size: 18px;
  font-family: 'Old Standard TT', serif;
  color: #565656;
}

h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 3px solid #76323F;
  display: inline-block;
  color: #76323F;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: left;
  color: #D7CEC7;
  margin-top: 0;
  margin-bottom: 1.4em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #76323F;
}

a:hover {
  color: #D7CEC7;
}

.leader {
  font-size: 1.4em;
  /*padding-top: 1.4em;*/
}


/*BUTTONS
---------------------------------------------------------*/

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  border-bottom: 5px solid #76323F;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  color: #76323F;
  background-color: #C09F80;
  border-color: #76323F;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  border-bottom: 5px solid #76323F;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  color: #76323F;
  background-color: #C09F80;
  border-color: #76323F;
}


/*NAVBAR
---------------------------------------------------------*/

.navbar {
  background: url('images/menubg.jpg') repeat center #76323F;
}

.navbar-nav li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: #ffffff;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #D7CEC7;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #D7CEC7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #76323F;
  background-color: #D7CEC7;
}

.navbar-default {
  background-color: #76323F;
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #D7CEC7;
}

.navbar-default .navbar-toggle {
  border-color: #D7CEC7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #76323F;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #D7CEC7;
  background-color: #76323F
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #76323F;
}


/*SECTION STYLES
---------------------------------------------------------*/

.menu-section {
  background: url(images/feast.jpg) no-repeat center center #ffffff;
  background-size: cover;
  height: 100%;
  padding: 0;
}

.games-section {
  background: url(images/games.jpg) no-repeat center center #ffffff;
  background-size: cover;
  height: 100%;
  padding: 0;
}

.about-section {
  background: url(images/about.jpg) no-repeat center center #ffffff;
  background-size: cover;
  height: 100%;
  padding: 0;
  text-align: left;
}

.reserve-section {
  background: url(images/fireplace.jpg) no-repeat center center #ffffff;
  background-size: cover;
  height: 100%;
  padding: 0;
  position: relative;
}

.intro-section {
  background: url(images/mainbg.jpg) no-repeat center center #ffffff;
  background-size: cover;
}

.menu-content,
.about-content,
.res-content {
  padding: 50px 10px 50px 10px;
  background: #ffffff;
  min-height: 100vh;
}

.about-content,
.res-content {
  padding: 3.5em 4em 3.5em 4em;
  text-align: left;
}

.credit {
  position: absolute;
  padding: 1em;
  bottom: 0px;
  background: url('images/menubg.jpg') repeat center #76323F;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: #ffffff;
}

.logo {
  margin-top: 10%;
}


/*TABS
---------------------------------------------------------*/

.menu-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-header {
  width: 50%;
  justify-content: left;
  text-align: left;
  padding-left: 5em;
  margin: 0;
}

.menu-nav-pills {
  width: 50%;
  margin-top: 1em;
  justify-content: center;
  margin-bottom: 0;
}

.nav-pills li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  /*  border-bottom: 5px solid darkgrey;
  border-radius: 10px;*/
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: #76323F;
}

.tab-pane {
  text-align: left;
  width: 100%;
  padding: 1em 5em 1em 5em;
}


/*TABLES
---------------------------------------------------------*/

table {
  width: 100%;
  border: 0;
}

.item1-table {
  text-align: left;
}

.item2-table {
  text-align: right;
}

.item3-table {
  text-align: right;
}

.menu-row {
  border-bottom: 1px dotted #000000;
  margin-bottom: 1em;
}

.menu-row-first {
  border-bottom: 0px;
  margin-bottom: 0;
}

.margin-fix {
  margin-top: 1.5em;
  margin-bottom: 0;
}


/*FORM
---------------------------------------------------------*/

.res-form {
  width: 50%;
  padding-left: 0.8em;
  margin-top: 2em;
}


/*MEDIA QUERIES
---------------------------------------------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .menu-content,
  .about-content,
  .res-content {
    padding: 10px 10px 10px 10px;
    background: #ffffff;
    height: 100%;
    margin-top: 100px;
  }
  /*.about-content,
  .res-content {
    padding: 3.5em 4em 3.5em 4em;
    text-align: left;
  }*/
  .menu-section {
    min-height: 100%;
    overflow: auto;
  }
  .games-section {
    min-height: 100%;
    overflow: auto;
  }
  .about-section {
    min-height: 100%;
    overflow: auto;
  }
  .reserve-section {
    min-height: 100%;
    overflow: auto;
  }
  .intro-section {
    min-height: 100%;
    overflow: auto;
  }
}
